@model Journey.Models.Comment

@{
    ViewBag.Title = "Editeaza comentariul";
}

<h2>@ViewBag.Title</h2>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@TempData["message"]</h3>
}

@using (Html.BeginForm(actionName: "Edit", controllerName: "Comment", routeValues: new { id = Model.CommentId }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    <input type="text" name="content" value=@Model.Content />

    <button type="submit" class="btn btn-success"> Editeaza </button>
}