
@{
    ViewBag.Title = "Postarile mele";
}

<div class="row">
    <a href="javascript:void(0);" onclick="history.go(-1);" class="font-title-size" style="margin-left: 20px;"> <i class="glyphicon glyphicon-arrow-left"></i></a>
    <h2 class="text-center font-title-size page-title">@ViewBag.Title</h2>
</div>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@TempData["message"]</h3>
}

<div class="row text-center">
    @foreach (Journey.Models.Post post in ViewBag.Posts)
    {
        <div class="col-md-4" style="margin-top: 25px;">
            <h3> @post.Description </h3>
            <a href="/Post/Show/@post.PostId">
                <img src=@Url.Content("~/Images/" + post.Photo) class="img-thumbnail img-size" />
            </a>
        </div>

    }

</div>

<div class="text-center">
    <a class="font-title-size" href="/Post/New"> <i class="glyphicon glyphicon-plus-sign"> </i> </a>
</div>