@{
    ViewBag.Title = "Home Page";
}

<div class="container" id="home-images">
    <div class="row">
        @foreach(var post in ViewBag.Posts)
        {
            <a href="/Post/Show/@post.PostId">
                <img src=@Url.Content("~/Images/" + post.Photo) class="img-thumbnail img-size" />
            </a>
        }
    </div>
</div>