@model Journey.Models.Album

<div class="text-center">
    <div class="panel-heading article-heading">
        <h2 class="text-center font-title-size page-title">@Model.Name</h2>
    </div>

    <div class="article-meta">
        <div>
            <i class="glyphicon glyphicon-user"></i>
            <strong> @Model.User.UserName </strong>
        </div>
    </div>

    <div class="panel-body">
        <br />
        <div class="row">
            @foreach (Journey.Models.Post post in ViewBag.Posts)
            {
                <div class="col-sm-4">
                    <a href="/Post/Show/@post.PostId">
                        <img src=@Url.Content("~/Images/" + post.Photo) class="img-thumbnail img-size">
                    </a>
                </div>
            }

            @if (ViewBag.Posts.Count == 0)
            {
                <h4> Nu exista postari in acest album </h4>
            }
        </div>
    </div>

</div>