@model Journey.Models.Post

<div id="post-info-panel" class="text-center">
    <div class="panel-heading article-heading">
        <span class="font-roboto article-title page-title font-title-size"> 
            @Model.Description 
        </span>
    </div>
    <div class="article-meta">
        <span class="roboto">
            <i class="glyphicon glyphicon-time"></i>
            @Model.Date
        </span>
        <div class="roboto">
            <i class="glyphicon glyphicon-bookmark"></i>
            @Model.Category.CategoryName
        </div>

        <div class="roboto">
            <i class="glyphicon glyphicon-user"></i>
            <strong> @Model.User.UserName </strong>
        </div>
    </div>

    <div class="panel-body">
        <br />
        <div class="article-content-wrapper">
            <img src=@Url.Content("~/Images/" + Model.Photo) class="img-thumbnails img-fullscreen-size">
        </div>
    </div>
</div>

